.dashboard-next {
  .activity-metrics .counters-list {
    font-size: $font-down-1;
  }

  .counters-list {
    .counters-header {
      align-items: flex-start;
      .counters-cell {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-align: right;
        transform: rotate(180deg);
        justify-self: flex-end;
      }
    }
  }
}
