.d-card {
  --card-radius: var(--d-border-radius);
  z-index: z("max");
}

.d-card-content {
  box-sizing: border-box;
  width: min(600px, calc(100% - 2 * 1rem));
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: var(--card-radius);
  background-color: white;
  height: auto;
  max-width: 580px;
  aspect-ratio: 8 / 10;
}
