.fk-d-toasts {
  position: fixed;
  z-index: z("max");

  .d-toast {
    --toast-padding-x: var(--space-3);
    --toast-padding-top: var(--space-3);
    --toast-padding-bottom: var(--space-6);
    --toast-max-height: 90px;
    --toast-content-height: calc(
      max(env(safe-area-inset-top, 0px), var(--toast-padding-top)) +
        var(--toast-max-height) + var(--toast-padding-bottom)
    );
    --toast-border-color: var(--content-border-color);
    --toast-box-shadow: var(--shadow-dropdown);
    --toast-border-radius: var(--d-border-radius);
    --toast-background-color: var(--secondary);
    --toast-offset: 8px;

    @media (width >= 1000px) {
      --toast-padding-x: var(--space-4);
      --toast-padding-top: var(--space-4);
      height: var(--toast-content-height);
    }

    &-content {
      box-sizing: border-box;
      width: 100%;
      max-width: 560px;
      height: var(--toast-content-height);
      background-color: transparent;
      padding: var(--toast-padding-x);
      padding-top: max(env(safe-area-inset-top), var(--toast-padding-top));
      padding-bottom: var(--toast-padding-bottom);
      display: grid;
    }

    @media (width >= 1000px) {
      .fk-d-default-toast-content {
        max-width: 400px;
        padding-top: var(--toast-padding-top);
      }
    }

    &-inner-content {
      max-height: var(--toast-max-height);
      border-radius: var(--toast-border-radius);
      background-color: var(--toast-background-color);
      border: 1px solid var(--toast-border-color);
      box-shadow: var(--toast-box-shadow);
    }
  }

  > div {
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) .Sheet-specialWrapperRoot {
        padding-top: calc(($i - 1) * var(--toast-offset));
      }
    }

    [data-d-sheet~="view"] {
      transition: top 0.3s ease-out;
    }
  }
}
